.list {
  list-style: none;
  display: flex;
  min-width: 700px;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 4px;
}
.item {
  max-width: 240px;
  /*  flex: 20em;*/
  justify-content: space-between;
}
